{% extends 'base.html' %} {% block content %}

<h1>{% block title %} Programming {% endblock %}</h1>
<header>
  <h1>My Programming Journey</h1>
</header>

<article>
  <p>
    My love of programming began at a young age. As a curious and
    imaginative kid, I found myself captivated by the infinite
    possibilities that coding offered. It all started when I stumbled
    upon a basic programming tutorial online, and the idea of creating
    something out of nothing sparked an insatiable curiosity within
    me.
  </p>

  <p>
    <em>
      I dived headfirst into the world of coding, experimenting with
      various languages and technologies. The more I learned, the more
      I realized the power of turning lines of code into functional
      and interactive applications.
    </em>
  </p>

  <p>
    Throughout my educational journey, I eagerly embraced every
    opportunity to deepen my understanding of software development.
    From building simple games to creating dynamic websites, each
    project became a canvas for me to express my creativity and
    problem-solving skills.
  </p>

  <p>
    <strong>
      The thrill of seeing my code in action, making an impact, fueled
      my passion even more.
    </strong>
  </p>

  <p>
    As I honed my skills, I discovered the collaborative nature of the
    programming community. Engaging with like-minded individuals,
    whether through open-source contributions or participating in
    coding communities, provided a sense of camaraderie that enriched
    my learning experience.
  </p>

  <p>
    <span>
      The exchange of ideas and the collective pursuit of excellence
      became integral to my programming journey.
    </span>
  </p>

  <p>
    Fast forward to today, where I find myself not only as a
    proficient coder but also as a software development coach at
    Kenzie Academy. Being a teaching assistant allows me to share my
    passion with aspiring developers, guiding them through the
    intricate world of coding and witnessing their "aha" moments.
  </p>

  <p>
    Looking ahead, my goal is to find a full-time web developer
    position in a company where I can continue to expand my skills.
    <strong>
      The dynamic nature of the tech industry excites me, and I'm
      eager to contribute my expertise while constantly evolving as a
      developer.
    </strong>
  </p>

  <p>
    <em>
      Programming is not just a skill; it's a journey of continuous
      learning, exploration, and innovation. It's a journey that began
      with a spark of curiosity, grew into a flame of passion, and now
      fuels my aspirations for the future. And as I navigate the
      ever-evolving landscape of technology, my love for programming
      remains the guiding force propelling me forward.
    </em>
  </p>
</article>

{% endblock %}
